/.claude/

/LRP-eXplains-Transformers-main/

/dataset_traj/

/cache/

/weights/

/exps_scripts/unitraj_train_eval/hydra_outputs/
/exps_scripts/unitraj_train_eval/tmp/
/exps_scripts/unitraj_train_eval/evaluation_output/

/exps_res/
