# 基础轨迹预测归因配置
defaults:
  - method: autobot
  - attribution: captum_methods
  - _self_

# 实验基础设置
exp_name: "traj_attr_exp"
# 如果在仓库根目录运行脚本：
ckpt_path: "weights/TrajAttr_ckpt/autobot_train/best_model.ckpt"

model_name: "${method.model_name}"
dataset_name: "nuscenes"

# 实验设置
seed: 42
debug: False
devices: [0]

# 数据相关
load_num_workers: 0 # number of workers for loading data
train_data_path: [ "dataset_traj/scn_split_train" ] # list of paths to the training data
val_data_path: [ "dataset_traj/scn_split_val" ] # list of paths to the validation data
cache_path: "cache/traj_attr"
max_data_num: [ 12 ] # maximum number of data for each training dataset, null means all data
starting_frame: [ 0 ] # history trajectory starts at this frame for each training dataset
past_len: 21 # history trajectory length, 2.1s
future_len: 60 # future trajectory length, 6s
object_type: [ 'VEHICLE' ]#, 'PEDESTRIAN', 'CYCLIST'] # object types included in the training set
line_type: [ 'lane','stop_sign','road_edge','road_line','crosswalk','speed_bump' ] # line type to be considered in the input
masked_attributes: [ 'z_axis', 'size' ] # attributes to be masked in the input
trajectory_sample_interval: 1 # sample interval for the trajectory
only_train_on_ego: False # only train on AV
center_offset_of_map: [ 30.0, 0.0 ] # center offset of the map
use_cache: False # use cache for data loading
overwrite_cache: False # overwrite existing cache
store_data_in_memory: False # store data in memory

# 归因设置
attribution:
  methods: ["IntegratedGradients", "Saliency"]
  batch_limit: 12  # 限制计算归因的批次数
  distance_type: "min_ade"  # 主要距离度量类型
  save_raw_attributions: true  # 保存原始归因值

# 保存配置
save_config:
  base_dir: "exps_res/res_trajattr"
  create_timestamp_dir: false

# Hydra配置
hydra:
  run:
    dir: hydra_outputs/${model_name}_${dataset_name}
  sweep:
    dir: hydra_outputs/${model_name}_${dataset_name}
  job:
    env_set:
      HYDRA_FULL_ERROR: 1