# 基础轨迹预测归因配置
defaults:
  - method: autobot
  - attribution@model_attr: autobot_attr
  - attribution@captum_lib: captum_methods
  - attribution@attnlrp_lib: AttnLRP_method
  - _self_

# 实验基础设置
exp_name: "traj_attr_exp"
# 如果在仓库根目录运行脚本：
ckpt_path: "weights/TrajAttr_ckpt/autobot_train/best_model.ckpt"

model_name: "${method.model_name}"
dataset_name: "nuscenes"

# ==========================================
# [新增] 细粒度评估核心配置
# ==========================================
# 模式: 'agent' (传统整车Mask) 或 'feature' (细粒度特征扰动)
eval_mode: "feature" 

# 指标类型: 'loss' (看NLL Loss变化) 或 'shift' (看轨迹位移距离)
# 对于 'feature' 模式，强烈推荐使用 'shift'，因为坐标扰动对 Loss 的影响可能不如位移直观
metric_type: "loss"

# 扰动噪声标准差 (仅在 eval_mode='feature' 时生效)
# 单位：米。给坐标加 1.0m 的高斯噪声
noise_std: 1.0
# 高斯扰动模式：noise  特征恢复：freeze
perturb_mode: "noise"     #使用冻结模式,此时noise_std: 0.0
# ==========================================

#是否使用归因指标
evaluate: True
# 三个指标方法：['morf', 'lerf', 'sen_n']  ['morf', 'lerf', 'sen_n', 'sparseness', 'complexity']  ['sparseness', 'complexity' ]
eval_metrics: ['morf', 'lerf', 'sen_n', 'sparseness', 'complexity']
#eval_metrics: 'morf'

# 实验设置
seed: 42
debug: False
devices: [0]

# 数据相关
load_num_workers: 0
train_data_path: [ "dataset_traj/scn_split_train1" ]
val_data_path: [ "dataset_traj/scn_split_val1" ]
cache_path: "cache/traj_attr"
max_data_num: [ 12 ]
starting_frame: [ 0 ]
past_len: 21
future_len: 60
object_type: [ 'VEHICLE' ]
line_type: [ 'lane','stop_sign','road_edge','road_line','crosswalk','speed_bump' ]
masked_attributes: [ 'z_axis', 'size' ]
trajectory_sample_interval: 1
only_train_on_ego: False
center_offset_of_map: [ 30.0, 0.0 ]
use_cache: False
overwrite_cache: False
store_data_in_memory: False

# 归因设置（顶层选择方法；覆盖子配置）
attribution:
  # 在此选择当前使用的方法
  # 使用 AttnLRP（默认）：
  methods: ["AttnLRP"]
  #methods: ["AttnLRP,"IntegratedGradients"]
  #methods: ["IntegratedGradients", "DeepLift", "Saliency"]
  load_path: "exps_res/res_trajattr/autobot_nuscenes/attributions/numpy/AttnLRP"

  batch_limit: 12
  distance_type: "min_ade"
  save_raw_attributions: true

  # 可选：覆盖 AttnLRP 专属参数
  # attn_lrp_config:
  #   attention_rule: "CP"   # 或 "AttnLRP"
  #   epsilon: 1.0e-6
  #   gamma: 0.25

# 可选：覆盖 Captum 专属参数
# captum_config:
#   integrated_gradients:
#     n_steps: 50
#     method: "riemann_trapezoid"

# 保存配置
save_config:
  base_dir: "exps_res/res_trajattr"
  create_timestamp_dir: false

# Hydra 配置
hydra:
  run:
    dir: hydra_outputs/${model_name}_${dataset_name}
  sweep:
    dir: hydra_outputs/${model_name}_${dataset_name}
  job:
    env_set:
      HYDRA_FULL_ERROR: 1